{% extends "basic_app/base.html" %}

{% load static %}

{% block body_block %}
    <div class="jumbotron">
        {% if registered %}
            <h1>Thank you for registering</h1>
        {% else %}
                <h1>Register here</h1>
                <h1>Fill form:</h1>
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{user_form.as_p}} <!--"user_form" from views.py-->
        {{profile_form.as_p}}<!--"profile_form" from views.py-->
        <input type="submit" class="btn btn-primary" value="Submit">
    </form>

        {% endif %}
    <div>

{% endblock  %}